doctype html

html(lang='en')
  head
    style
      link(rel='stylesheet' href='/stylesheets/css.css') 
    block head
      meta(name='viewport', content='width=device-width, initial-scale=1.0', charset='utf-8')
      title Test application
      script(src="https://code.jquery.com/jquery-3.6.0.min.js")
      script(src='/socket.io/socket.io.js')
      link(rel='stylesheet', type='text/css', href='/stylesheets/sidebar.css')
  body
    block content
      .container
        .navigation.active
          ul
            li
              a(href='#')
                span.icon
                  ion-icon(name='fast-food-outline')
                span.title Bamboo House
            li
              a(href='/user/home')
                span.icon
                  ion-icon(name='home-outline')
                span.title Dashboard
            li
              a(href='/user/manage-staff')
                span.icon
                  ion-icon(name='person-circle-outline')
                span.title Staff
            li
              a(href='/user/manage-product')
                span.icon
                  ion-icon(name='fast-food-outline')
                span.title Foods
            li
              a(href='/user/takeOrder')
                span.icon
                  <ion-icon name="receipt-outline"></ion-icon>
                span.title Foods
            li
              a(href='/user/orders')
                span.icon
                  <ion-icon name="documents-outline"></ion-icon>
                span.title Kitchen Display System
            li
              a(href='/user/logout')
                span.icon
                  ion-icon(name='fast-food-outline')
                span.title Logout
        .main.active
          .topbar
            .toggle
              ion-icon(name='menu-outline')
            .menuType
              div
                a Customers Menu Layout
              div
                a Staff Order Layout
          block innerContent
  block script
    script(type='module', src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
    script(nomodule='', src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
    script.
      //menu toggle
      let toggle = document.querySelector('.toggle');
      let navigation = document.querySelector('.navigation');
      let main = document.querySelector('.main')
      toggle.onclick = function(){
      navigation.classList.toggle('active');
      main.classList.toggle('active');
      }
      //add hovered
      let list = document.querySelectorAll('.navigation li');
      function activeLink(){
      list.forEach((item) =>
      item.classList.remove('hovered'));
      this.classList.add('hovered');
      }
      //- list.forEach((item)=>
      //- item.addEventListener('mouseover',activeLink));
      //- document.addEventListener("DOMContentLoaded", ()=>{
      //-   const rows = document.querySelectorAll('tr[data-href]');
        
      //-   rows.forEach(row =>{
      //-     row.addEventListener("click",()=>{
      //-       window.location.href = row.dataset.href;
      //-     })
      //-   })
      //- })
