:root{
  --blue: #287bff;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --cancel: red;
  --checkout: green;
}

body{
  min-height: 100vh ;
  overflow-x:hidden;
}

.container{
  position: relative;
  width:96%;
}

.orderUI{
  background-color: gray;
  width:100%;
  padding:20px;
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-gap:30px;
}

/* ORDER INFO */
.orderUI .orderDetails{
  position:relative;
  display:grid;
  min-height: 850px;
  background-color: var(--white);
  padding:20px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
  width: 95%;
}

.orderUI .orderDetails table{
  width:100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.orderUI .orderDetails table tr{
  border-bottom: 1px solid rgba(0,0,0,0.08);
}


.orderUI .orderDetails table td{
  padding:10px;
  font-size: x-large;
}

.orderUI .orderDetails table td:last-child{
  text-align: end;
}

.orderUI .orderDetails table tr:hover{
  background-color: var(--blue);
  color: var(--white);
}

.orderUI .orderDetails .btnAction{
  display: flex;
  justify-content: space-between;
}

.orderUI .orderDetails .balance{
  width: 85%;
  position:absolute;
  bottom:20px;
  left:25px;
}

.orderUI .orderDetails .orderBtn{
  padding:25px 50px;
  font-size: 20px;
  background-color: var(--checkout);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.orderUI .orderDetails .cancelBtn{
  padding:25px 50px;
  font-size: 20px;
  background-color: var(--cancel);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

/* PRODUCT INFO */

.orderUI .productList{
  width: 95%;
  min-height: 850px;
  background-color: var(--white);
  padding:20px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
}

.orderUI .productList .itemList{
  width:100%;
  margin: 10px auto;
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(170px,1fr));
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  text-align: center;
}

/* a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
} */
.orderUI .productList .itemList button{
  width:100%;
  height:min-content;
  font-size: 20px;
  font-weight: bolder;
  background: rgba(241, 224, 197, 0.85);
  padding: 20px;
}
