html(lang='en')
  head
    style
      link(rel='stylesheet' href='./css.css')
    block head
      meta(charset='utf-8')
      title Test application
      link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
  body
    block scripts
    script.
        {
        const nav = document.querySelector(".nav");
        let lastScrollY = window.scrollY;
        window.addEventListener("scroll",() => {
        if(lastScrollY < window.scrollY){
        nav.classList.add("nav--hidden");
        }
        else{
        nav.classList.remove("nav--hidden");
        }
        lastScrollY = window.scrollY;
        });
        }
    block content
    //[if IE 6]>
      h3.bad Shit, your browser too old. Please update it.
      <![endif]
    br
