

.container{
  position: relative;
  width:96%;
}

body{
  min-height: 100vh ;
  overflow-x:hidden;
}

.main{
  position: absolute;
  width: calc(100% - 300px);
  left:310px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active{
  width: calc(100% - 60px);
  left: 60px;
}

.orderLists{
  height:85vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  margin-left: 3%;
  flex-grow: 1;
  gap: 10px;
}

.orderSummary{
  position:fixed;
  width: 300px; 
  height: 100%;
  top:0;
  left:0;
  background: gray;
  border-left: 10px solid  gray;
  transition: 0.5s;
  overflow: hidden;
}

.orderSummary.active{
  width: 30px;
}

.orderSummary.active .order{
  display: none;
}

.orderSummary .order{
  font-size: 2em;
}


.toggle{
  position: relative;
  top:0;
  width:60px;
  height:60px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.topbar{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  color: white;
}

.orderLists .order{
  background-color: gray;
  font-size: 1.5em;
  height: 48%;
  overflow: scroll;
}

.orderLists .order::-webkit-scrollbar {
  display: none;
}

.orderLists .order td{
  padding: 25px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.orderLists .order table{
  width: 100%;
}