

.container{
  position: relative;
  width:100%;
}

body{
  min-height: 100vh ;
  overflow-x:hidden;
  background-color: #CCC5BB;
}

.main{
  position: absolute;
  width: calc(100% - 300px);
  left:310px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active{
  width: calc(100% - 60px);
  left: 60px;
}


.orderSummary{
  position:fixed;
  width: 300px; 
  height: 100%;
  top:0;
  left:0;
  background: #BCA17F;
  border-left: 10px solid  gray;
  transition: 0.5s;
  overflow: hidden;
}

.orderSummary.active{
  width: 30px;
}

.orderSummary.active .order{
  display: none;
}

.orderSummary .order{
  font-size: 2em;
}


.toggle{
  position: relative;
  top:0;
  width:60px;
  height:60px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
  border-radius: 10px;
}

.topbar{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  color: white;
}

.orderLists{
  height:85vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
  flex-grow: 1;
  gap: 10px;
}

.orderLists .order{
  background-color: #AAA094;
  font-size: 1em;
  max-height: 48%;
  min-width: 23%;
  overflow-y: scroll;
  border-radius: 10px;
}

/* .orderLists .order::-webkit-scrollbar {
  display: none;
} */

.orderLists .order td{
  padding: 10px 0 10px 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-left: 10px;
}

.orderLists .order td span{
  margin-left: 20px;
}



.orderLists .order table{
  width: 100%;
}

.order .orderHeader{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
