:root{
  --blue: #287bff;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --cancel: red;
  --checkout: green;
}

body{
  min-height: 100vh ;
  overflow-x:hidden;
}

.container{
  position: relative;
  width:96%;
}

.orderUI{
  background-color: gray;
  width:100%;
  padding:5px 20px;
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-gap:5px 30px;
}

/* ORDER INFO */
.orderUI .orderDetails{
  position:relative;
  display:grid;
  min-height: 85vh;
  background-color: var(--white);
  padding: 5px 20px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
  width: 95%;
}

.orderUI .orderDetails table{
  width:100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.orderUI .orderDetails table tr{
  border-bottom: 1px solid rgba(0,0,0,0.08);
}


.orderUI .orderDetails table td{
  padding:10px;
  font-size: x-large;
}

.orderUI .orderDetails table td:last-child{
  text-align: end;
}

.orderUI .orderDetails table tr:hover{
  background-color: var(--blue);
  color: var(--white);
}

.orderUI .orderDetails .btnAction{
  display: flex;
  justify-content: space-between;
}

.orderUI .orderDetails .balance{
  width: 85%;
  position:absolute;
  bottom:20px;
  left:25px;
}

.orderUI .orderDetails .orderBtn{
  padding:25px 50px;
  font-size: 20px;
  background-color: var(--checkout);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.orderUI .orderDetails .cancelBtn{
  padding:25px 50px;
  font-size: 20px;
  background-color: var(--cancel);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

/* PRODUCT INFO */

.orderUI .productList{
  width: 95%;
  height: 850px;
  background-color: var(--white);
  padding:20px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
  overflow: scroll;
  position: relative;
}

.orderUI .itemsList{
    overflow: scroll;
    position: relative;
    height:73%;
}

/* .orderUI .productList .itemList{
  width:100%;
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(190px,1fr));
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  text-align: center;
} */


.orderUI .menuPanel{
  margin-bottom: 50px;
  position: relative;
  grid-column: 1/3;
  background-color: var(--white);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
}

.orderUI .menuPanel button{
  padding: 1em;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  margin-left: 10px;
}

.proList{
  display: none;
}

#category_collection{
  display: none;
}

#category_collection.active{
  width:100%;
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(190px,1fr));
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  text-align: center;
}

.active[data-tab-content] {
  width:100%;
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(190px,1fr));
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  text-align: center;
}

#returnBtn{
  position: absolute;
  bottom:2%;
  right:2%;
  width: 95%;
}

.orderUI .productList .catList button{
  width:100%;
  font-size: 20px;
  font-weight: bolder;
  background: rgba(241, 224, 197, 0.85);
  padding: 1em;
}

.orderUI .productList .proList button{
  width:100%;
  font-size: 20px;
  font-weight: bolder;
  background: rgba(241, 224, 197, 0.85);
  padding: 1em;
}

#timeCollectionWindow{
  left: 50%;
  top: 50%;
  z-index: 10;
  position:absolute;
  display: flex;
  gap: 20px;
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0 7px 35px rgba(0,0,0,0.08);
  border-color:#222;
  border-radius: 20px;
  border-style: groove;
  margin-left: -50px;
  /* -1/2 width */
  margin-top: -80px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  color: white;
}


@media (max-width: 1566px){
  .orderUI .productList{
    height: 85vh;
  }

  #category_collection.active{
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
  }
  .orderUI .productList .catList button{
    font-size: 20px;
    padding: 10px;
  }

  .orderUI .orderDetails table td{
    padding:10px;
    font-size: large;
  }

  .orderUI .orderDetails{
    height: 90vh;
  }
}

/* a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
} */
