
:root{
    --fontColour:black;
    --backgrondColour:white;
    --backgroundCardColour:greenyellow;
    --buttonColour:#58A4B0;
    --buttonBackgroundColour: grey;
    --nav-height:50px;
}
.container{
    width: 100%;
    background:#333;
    position: fixed;
    color:#fff;
    z-index: 1;
    top:0;
    left:0;
}
body{
    padding-top: 70px;
    padding-bottom: 40px;
    background-image: url("bambooBackground.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    font-weight:0;
}
.background-card{
    position:relative;
    /*background:linear-gradient(90deg,rgba(0,128,0,0.75),rgba(144,238,144,0.99)
    ,rgba(0,128,0,0.75));
    border-color: var(--fontColour);
    border-width: 1px;
    border-style: solid ;
    border-radius: 10px;*/
    margin: 0px 40px 0px;
}
ul.setmeal{
    list-style-type: none;
    text-align: center;
    list-style-position:initial;
    padding-left: 0px;
}
p.food{
    text-align: center;
    font-size: x-large;
}
li{
    color:var(--fontColour);
}
p{
    color:var(--fontColour)
}
h1{
    color:var(--fontColour);
    text-align:center;
    font-size: 50px;
}
h2{
    position: relative;
    color:var(--fontColour);
    text-align:center;
    font-size: 40px;
}
h3{
    position: relative;
    color:var(--fontColour);
    text-align:center;
    text-decoration: underline;
    font-size: 35px;
}
h4{
    position: relative;
    color:var(--fontColour);
    text-align:center;
}
hr{
    width:90%;
    border-bottom: black;
    border-top: 4px double black;
    margin-left: auto;
    margin-right: auto;
}
nav a{
    color: #fff;
    text-decoration: none;
    /*
    padding: 17px 35px;
    */
    height: 50px;
    margin: 0px 1em;
    align-items: center;
    display: flex;
    font-size: x-large;
}
.nav--hidden{
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
}

.nav{
    width:100%;
    height: (var(--nav-height));
    position:fixed;
    top:0;
    left:0;
    background: #333;
    transition: transform 0.2s;
}

.titleBox{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 0px 60px 0px 60px
}

button.foodCategory{
    width:100%;
    height:max-content;
    font-size: 27px;
    background: rgba(241, 224, 197, 0.85);
}

#categoryContainer{
    width:100%;
    margin: 10px auto;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    text-align: center;
}
/*
p.buttonText{
    vertical-align: center;
    text-align: center;
    margin:auto;
    font-size: 40px;
}*/

p.setPrice{
    font-size: smaller;
    text-align: center;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

span{
    font-size:xx-large;
}

.left{
    float:left;
    margin-left:30%;
}
.right{
    float:right;
    margin-right:30%;
}

/* TESTING FROM WEBSITE */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  nav a{
    color: #fff;
    text-decoration: none;
    /*
    padding: 17px 35px;
    */
    --nav-height: 50px;
    margin: 0px 1em;
    align-items: center;
    display: flex;
    font-size: x-large;
    }
    .nav--hidden{
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
    }