extends ../partials/layoutSidebar.pug
block innerContent
  // Form
  .productForm
    form(action='/admin/manage-product/addCategory', method='post')
      p
        label Enter Category Name: 
        input#title(type='text', name='category_name')
      input(type='submit' value='OK')