extends ../partials/layoutSidebar.pug
block innerContent 
  // cards
  .cardBox
    .card
      div
        .numbers 24
        .cardName Processing Orders
      .iconBx
        ion-icon(name='eye-outline')
    .card
      div
        .numbers 112
        .cardName Pending Orders
      .iconBx
        ion-icon(name='ellipsis-horizontal-outline')
    .card
      div
        .numbers 25
        .cardName Sales
      .iconBx
        ion-icon(name='cart-outline')
    .card
      div
        .numbers 1,504
        .cardName Earning
      .iconBx
        ion-icon(name='cash-outline')
  // Processing Orders
  .details
    .recentOrders
      .cardHeader
        h2 Recent Orders
        a.btn(href='#') View All
      table
        thead
          tr
            td Name
            td Price
            td Payment
            td Status
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
        tbody
          tr
            td Star Regrigerator
            td $1200
            td Paid
            td
              span.status.delivered Delivered
    // New Customers
    .recentCustomers
      .cardHeader
        h2 Recent Customers
      table
        thead
          tr
            td Orders Number
            td Date
        tbody
          tr
            td 1989
            td 2018
        tbody
          tr
            td 1929
            td 2018
        tbody
          tr
            td 1189
            td 2018
        tbody
          tr
            td 1329
            td 2018
        tbody
          tr
            td 1989
            td 2018
        tbody
          tr
            td 1929
            td 2018
        tbody
          tr
            td 1189
            td 2018
        tbody
          tr
            td 1329
            td 2018
        tbody
          tr
            td 1989
            td 2018
        tbody
          tr
            td 1929
            td 2018
        tbody
          tr
            td 1189
            td 2018
        tbody
          tr
            td 1329
            td 2018
        tbody
          tr
            td 1989
            td 2018