extends ../partials/layoutSidebar.pug
block innerContent
  .staffManagement
    .staffManagementHeader
      h1 Staff
      button#addStaffBtn Add Staff
    .staffForm.hide#staffAddForm
      .staffAddFormHeader
        h2 Add Stuff Form
        span.icon#addFormExitIcon
          ion-icon(name='remove-circle-outline')
      form#registerUserForm(action='/user/manage-staff/addStaff',method='post')
        div
          p
            label Name: 
          input(type='text' name='name_field' required)
        div
          p 
            labl Username: 
          input#title(type='text' name='username_field' required)
        div
          p 
            labl Password: 
          input#passwordInput(type='password' name='password_field' required)
        div
          p 
            labl Reconfirm-Password: 
          input#rePasswordInput(type='password' required)
        input#submitAddButton(type='submit' value='Confirm')
    .staffForm.hide#staffModifyForm
      .staffAddFormHeader
        h2 Modify Stuff Form
        span.icon#modifyFormExitIcon
          ion-icon(name='remove-circle-outline')
      form#modifyUserForm(action='/user/manage-staff/modifyStaff/',method='post')
        div
          p
            label Name: 
          input#modifyName(type='text' name='name_field' required)
        div
          p 
            labl Username: 
          input#modifyTitle(type='text' name='username_field' required)
        //- div
        //-   p 
        //-     labl Password: 
        //-   input#modifyPasswordInput(type='password' name='password_field')
        //- div
        //-   p 
        //-     labl Reconfirm-Password: 
        //-   input#modifyRePasswordInput(type='password' required)
        input#submitModifyButton(type='submit' value='Confirm')
        button#deleteStaffBtn(name="Delete")
          span.icon
                ion-icon(name='trash-outline')

    table
      thead
        tr
          td Name
          td Username
          td LastLogin
      each user in users
        tbody
          tr(data-staff_id=user.id)
            td=user.name
            td=user.username 
            if (user.lastLogin == null)
              td Unknown 
            else 
              td=user.lastLogin

append script 
  script(src="/js/staff.js")