extends ../partials/layoutSidebar.pug
block innerContent
  .staffManagement
    .staffManagementHeader
      h1 Staff
      a.categoryBtn(href="/admin/manage-staff/addStaff") Add Staff
    .staffAddForm
      form#registerUserForm(action='/admin/manage-staff/addStaff',method='post')
        div
          p
            label Name: 
          input(type='text' name='name_field' required)
        div
          p 
            labl Username: 
          input#title(type='text' name='username_field' required)
        div
          p 
            labl Password: 
          input#passwordInput(type='password' name='password_field' required)
        div
          p 
            labl Reconfirm-Password: 
          input#rePasswordInput(type='password' required)
        input#submitButton(type='submit' value='Confirm')

    table
      thead
        tr
          td Name
          td Username
          td LastLogin
      each user in users
        tbody
          tr 
            td=user.name
            td=user.username 
            if (user.lastLogin == null)
              td Unknown 
            else 
              td=user.lastLogin

append script 
  script.
    //- CHECK PASSWORD
    var password = document.getElementById("passwordInput")
    , confirm_password = document.getElementById("rePasswordInput");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;