extends ../partials/layoutSidebar.pug
block innerContent
  .productManagement
    .productBox
      .productManagementHeader
        h2 Food Management
        .foodBtnHeader
          a.categoryBtn(href="/admin/manage-product/addfood") Add Product
          .searchFood
            label
              input(type='text', placeholder='Search Here')
              ion-icon(name='search-outline')
        table
          thead
            tr
              td Name
              td Price
              td Category name
              td Status
          -let i = 0
          
          each product in products
            - i += 1
            tbody
              tr(data-href = "/admin/manage-product/modify-product/"+product.id)
                td=product.name
                -var foodPrice = "£"+product.price
                td=foodPrice
                td=product.categoryName
                td active
    // Categories
    .categoryBox
      .categoryHeader
        h2 Catogories
        .categoryBtnHeader
          a.categoryBtn(href='/admin/manage-product/addCategory') Add Category
      table
        thead
          tr
            td Category Name
            td Status
        each category in categories
          tbody
            tr(data-href = "/admin/manage-product/modify-category/"+category.id)
              td=category.name
              td Active