doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title order
  link(rel='stylesheet' type='text/css' href='/stylesheets/order.css')
.container
  .orderUI
    // ALL THE ORDER INFO
    .orderDetails
      .itemsList
        h3 Order No: 
        table
          tr
            td 1
            td soy sauce
            td 1.80
          tr
            td 1
            td soy sauce
            td 1.80
          tr
            td 1
            td soy sauce
            td 1.80
          tr
            td 1
            td soy sauce
            td 1.80
      .balance
        table
          tr
            td Product Total:
            td 1.80
          tr
            td &ensp;Auto Bag Charge
            td 0.10
          tr
            td Balance:
            td 1.90
        .btnAction
          a.orderBtn(href='#')
            | checkout
          a.cancelBtn(href='#')
            | cancel
    // ALL THE PRODUCT BUTTON
    .productList
      .itemList
        //
          <a href="#" class="btnCategory">
          asdas
          </a>
        each category in categories 
          a(href='#')
            button
              p=category.categoryName
    .menuPanel
      a(href='#')
        button
          p Take Away
      a(href='#')
        button
          p Restaurant
      a(href='/admin/home')
        button
          p Main Menu
