extends ../layout.pug
append head
    style.
        .container{
            outline-width:thin;
            width: 70%;
            height: 20%;
            justify-content: center;
            position:relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;
        }
        h1{
            color:white;
        }
        label{
            font-size:xx-large;
        }
        #inputBoxSize{
            height:200px;
            font-size:x-large;
        }

block content
    div.container
        form(class="form-group" method="POST" action="/admin/signin")
            #error
                if error
                    p.text-danger Error!!!
                br
                h1 Staff Login
                br
                div
                    label username: 
                    input(type="text" name="username" id="inputUsername" class="form-control form-control-lg" placeholder="Username" required)
                br
                div 
                    label Password:
                    input(type="password" name="password" id="inputPassword" class="form-control form-control-lg" placeholder="Password" required)
                br
                br
                div 
                    input.btn.btn-primary(type="submit", class='btn-lg' value='Login')
                br
                br
                br